<container>
    <row>
      <columns small="12">
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; padding: 10px; background-color: #FFFFFF;">
          <tr>
            <td style="background-image: url('https://cdn.shopify.com/s/files/1/0817/7988/4088/files/emailicon.png?v=1714277467'); background-size: cover; background-position: center; padding: 20px 0;">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" style="padding:20px 0;">
                    <div style="width:150px; height:150px; border-radius:50%; background-color:rgba(255, 255, 255, 0.8); display:flex; align-items:center; justify-content:center;">
                      <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60" style="padding-top:5px;" alt="Success Icon" border="0"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding:0 40px 20px; background-color:rgba(255, 255, 255, 0.9); border-radius: 10px;">
                    <p style="color:#262626; font-size:32px; text-align:center; font-family:Verdana, Geneva, sans-serif; margin:0; padding: 20px 0;">
                      Hello! <br> <%= user.name %>
                    </p>
                    <h1 style="font-size:26px; line-height:30px; color:#054752; margin:20px 0 10px; word-break:normal;">
                      Welcome to Jamalpur Bazar!
                    </h1>
                    <p style="font-size:16px; line-height:24px; color:#054752; margin:10px 0;">
                      We're excited to have you join our community. Our Jamalpur Bazar offers a wide range of courses and resources to help you achieve your learning goals.
                    </p>
                    <p style="font-size:16px; line-height:24px; color:#054752; margin:10px 0;">
                      To activate your account, please use the following activation link within the next 5 minutes:
                    </p>
                    
                    <p style="font-size:16px; line-height:24px; color:#054752; margin:10px 0;">
                      After activation, you'll have access to all our features and content. If you have any questions, feel free to reach out to our support team.
                    </p>
                    <a href="<%= activationUrl %>" style="display:inline-block; margin-top:20px; padding:10px 20px; font-size:18px; color:#fff; background-color:#054752; border-radius:5px; text-decoration:none;">
                      Activate My Account
                    </a>
                    <p style="font-size:16px; line-height:24px; color:#054752; margin:20px 0 0;">
                      Thank you for choosing Jamalpur Bazar!
                    </p>
                    <p style="font-size:16px; line-height:24px; color:#054752; margin:5px 0 0;">
                      Best regards,<br>The Jamalpur Bazar Team
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </columns>
    </row>
  </container>
  